.IoTButton {
	height: 48vh;
	width: 48vw;
	font-size: 40px;
	position: absolute;
}

#button0{
	top: 0px;
	left: 0px;
	background-color: red;
}
#button1{
	top: 0px;
	right: 0px;
	background-color: green;
}
#button2{
	bottom: 0px;
	left: 0px;
	background-color: blue;
}
#button3{
	bottom: 0px;
	right: 0px;
	background-color: yellow;
}
